.container {
  display: block;
  height: 100%;
  position: relative;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0rem 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.iconContainer:hover {
  cursor: pointer;
}

.content {
  height: calc(100% - 3.5rem);
}
