.button {
  width: max-content;
  padding: 0.5rem;
  white-space: no-wrap;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: var(--inputBorderRadius);
  color: #fff;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: var(--boxshadow-input);
  cursor: pointer;
  box-shadow: 0.15rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.button:active {
  box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0);
}

.secondary {
  background-color: var(--inputBackground);
  border: 1px solid var(--inputBorder) !important;
  color: var(--color-text);
  box-shadow: var(--boxshadow-input);
}

.secondary:hover {
  background-color: var(--inputBackground-hover);
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 0.8rem;
    /* width: 100%; */
    /* padding: 0.25rem; */
    min-width: 3rem;
  }
}
