.button {
  width: max-content;
  padding: 0.5rem;
  white-space: no-wrap;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: var(--inputBorderRadius);
  color: #fff;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: var(--boxshadow-input);
}

.button:hover .buttonOverlay {
  opacity: 0.3;
  cursor: pointer;
}

.secondary {
  background-color: var(--inputBackground);
  border: 1px solid var(--inputBorder) !important;
  color: var(--color-text);
  box-shadow: var(--boxshadow-input);
}

.buttonOverlay {
  transition: 0.3s opacity ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 0.8rem;
    /* width: 100%; */
    /* padding: 0.25rem; */
    min-width: 3rem;
  }
}
