.input {
  width: 18rem;
  justify-content: flex-end;
  position: relative;
  border-radius: var(--inputBorderRadius);
  padding: 0.25rem 0.5rem;
  display: flex;
  background: var(--inputBackground);
  box-shadow: var(--boxshadow-input);
  cursor: pointer;
}

.icon {
  margin-left: auto !important;
  width: min-content;
}
