.schedule {
  display: grid;
  grid-template-columns: 5rem repeat(2, 5rem);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-left: 1px solid var(--color-border);
}

.layout {
  display: flex;
  gap: 2rem;
}

.dateLabel {
  text-align: end;
}
