.columns {
  grid-template-columns: repeat(4, 1fr) min-content;
}

@media screen and (max-width: 768px) {
  .columns {
    grid-template-columns: repeat(4, 1fr) min-content;
  }
}

.addBreakTemplate {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
