.container {
  margin-top: 1rem;
}

.header {
  font-weight: 500;
}

.columns {
  grid-template-columns: repeat(4, 1fr) 2fr 1fr 1fr;
}

.sortIcon {
  color: var(--color_gray_4);
}

@media (max-width: 1024px) {
  .columns {
    grid-template-columns: repeat(4, 2fr) 1fr;
  }
}
@media (max-width: 600px) {
  .columns {
    grid-template-columns: repeat(2, 2fr) 1fr;
  }
}
