.controls {
  border-radius: 0.3rem;
  list-style: none;
  grid-column: 2/-1;
  grid-row: 2/-1;
  background: #fff;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.controlItem {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
}

.controlItem:not(:first-child):hover {
  background: var(--color-hover-gray);
}

.controlIcon {
  font-size: 1.6rem;
  color: var(--color-text-gray);
}

.hidden {
  display: none;
}
