.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem 1rem 0;
  gap: 2rem;
}

.formActions {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
  }
}
