.container {
  background: #fff;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  height: 4rem;
  border-bottom: 1px solid var(--color-border);
  font-size: 1.3rem;
}

.body {
  background: #fff;
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.sideNav {
  background: #fff;
  height: 100%;
  border-right: 1px solid var(--color-border);
}

.mobileNav {
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid var(--color_gray_1);
  display: none;
}

@media (max-width: 1024px) {
  .body {
    grid-template-columns: 1fr;
  }

  .sideNav {
    display: none;
  }

  .mobileNav {
    display: flex;
  }
}

.content {
  height: 100%;
}
