.ant-statistic {
  color: inherit;
}

.ant-form .ant-form-item {
  overflow: visible !important;
}

.ant-select,
.ant-input,
.ant-picker-range,
.ant-picker {
  border: var(--border-input) !important;
  border-radius: var(--inputBorderRadius) !important;
  overflow: visible !important;
  /* box-shadow: 3px 3px 4px black !important; */
  box-shadow: var(--boxshadow-input) !important;
}

.ant-form-item-control-input .ant-col .ant-form-item-control,
.ant-form-item {
  overflow: auto !important;
}

@media screen and (max-width: 700px) {
  .ant-col {
    min-height: 32px !important;
  }
}

.ant-radio-button-wrapper,
.ant-picker-range {
  background: var(--inputBackground);
}

.ant-picker-panel-container {
  background: var(--sectionmain);
}

.ant-picker-content th {
  color: var(--color_gray_4);
}

.ant-radio-button-checked {
  background: var(--inputBackground);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: 0 0 0 3px #054fce;
}

.ant-select-selector {
  background-color: var(--inputBackground) !important;
  border: none !important;
}

.ant-menu {
  background-color: inherit !important;
  color: inherit !important;
  height: 100%;
}

.ant-menu-item a {
  color: inherit !important;
}

.ant-select > div {
  color: black !important;
}

.ant-select,
.ant-input {
  background: var(--inputBackground);
}

.ant-select > a {
  background: red !important;
}

.ant-select-selection {
  background: green !important;
}

.ant-layout {
  background: none !important;
}

.ant-typography,
.ant-timeline,
.ant-form-item-label,
.ant-form,
input {
  color: var(--text-color);
}

.ant-collapse-header {
  color: var(--text-color) !important;
}

.ant-collapse-item {
  border-bottom: var(--border-main) !important;
}

.ant-menu-vertical {
  border-right: var(--border-main);
}

.ant-select-selection-placeholder {
  color: #1f1f1f !important;
}

/* .ant-form .ant-form-item {
  overflow: hidden !important;
} */

.ant-btn span {
  color: rgb(38, 38, 38) !important;
}

.ant-menu-horizontal > li > span > a {
  color: var(--text-color) !important;
}

.ant-menu-vertical > li.ant-menu-item-selected > span > a {
  color: black !important;
}

.ant-select-selection-placeholder {
  color: var(--text-color) !important;
}

label {
  font-weight: 500;
}

.ant-dropdown-menu {
  background-color: var(--sectionmain) !important;
}

.ant-dropdown-menu-item-active .ant-dropdown-menu-title-content {
  color: #000 !important;
}

.ant-input-affix-wrapper {
  background: var(--inputBackground) !important;
}

.ant-input-password-icon {
  color: var(--text-color) !important;
}

.ant-btn span {
  color: #fff !important;
}

.ant-select-selector {
  text-align: left;
}

.ant-select-arrow {
  color: var(--text-color);
}

.ant-avatar-string {
  color: #fff !important;
}

.ant-tooltip-inner {
  color: #fff !important;
}

.ant-avatar-group span:nth-child(3) {
  background-color: #1890ff !important;
}

.ant-collapse-extra > span {
  color: var(--color_gray_3) !important;
}

.ant-select-selector {
  max-height: min-content !important ;
}

.ant-input-number-input {
  background-color: var(--inputBackground) !important;
  border: var(--border-main) !important;
}

.ant-select-selection-item {
  background: inherit !important;
}

.ant-select-selection-item-remove {
  color: var(--text-color) !important;
}

.ant-picker {
  color: var(--color-main) !important;
  background: var(--inputBackground) !important;
  /* border: var(--border-main) !important; */
  border-radius: var(--inputBorderRadius) !important;
}

.ant-picker-input > input {
  color: var(--color-main) !important;
}

.ant-picker-suffix {
  color: var(--color-main) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within,
.ant-radio-button-wrapper:focus-within {
  box-shadow: none !important;
}

.ant-menu-horizontal {
  border-bottom: var(--border-main) !important;
}

canvas {
  width: 100% !important;
}

input[type="file"] {
  display: none;
}

.go4109123758 > div > div {
  color: black !important;
}
