$red: #ff9d9d;
$volcano: #feb18c;
$orange: #ffc069;
$yellow: #fff566;
$lime: #d3f261;
$green: #abffa8;
$teal: #97ffec;
$blue: #a1a4f5;
$purple: #c085ff;
$magenta: #ec78b0;
$gray: rgb(166, 166, 166);

@mixin shiftStyles($color) {
  background: rgba($color, 0.1);
  border: 2px dashed $color;
  box-shadow: var(--boxshadow-shift);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.85rem;
  height: 4.5rem;

  &:not(.anotherSchedule) {
    cursor: pointer;
  }

  &.published {
    background: $color;
    border: none;
  }
}

@mixin textStyles($color) {
  color: darken(rgba($color, 1), 70%) !important;
}

@mixin textDarkStyles($color) {
  color: lighten($color, 30%) !important;
}

body.light {
  .shift {
    &.red {
      @include shiftStyles($red);

      & > div {
        @include textStyles($red);
      }
    }

    &.orange {
      @include shiftStyles($orange);

      & > div {
        @include textStyles($orange);
      }
    }
    &.volcano {
      @include shiftStyles($volcano);

      & > div {
        @include textStyles($volcano);
      }
    }
    &.yellow {
      @include shiftStyles($yellow);

      & > div {
        @include textStyles($yellow);
      }
    }
    &.lime {
      @include shiftStyles($lime);

      & > div {
        @include textStyles($lime);
      }
    }
    &.teal {
      @include shiftStyles($teal);

      & > div {
        @include textStyles($teal);
      }
    }
    &.green {
      @include shiftStyles($green);

      & > div {
        @include textStyles($green);
      }
    }
    &.blue {
      @include shiftStyles($blue);

      & > div {
        @include textStyles($blue);
      }
    }
    &.purple {
      @include shiftStyles($purple);

      & > div {
        @include textStyles($purple);
      }
    }

    &.magenta {
      @include shiftStyles($magenta);

      & > div {
        @include textStyles($magenta);
      }
    }

    &.anotherSchedule {
      @include shiftStyles($gray);
      border: none;
    }

    &.current {
      outline: 2px solid var(--text-color);
    }
  }
}

body.dark {
  .shift {
    &.red {
      @include shiftStyles($red);

      & > div {
        @include textDarkStyles($red);
      }
    }

    &.orange {
      @include shiftStyles($orange);

      & > div {
        @include textDarkStyles($orange);
      }
    }
    &.volcano {
      @include shiftStyles($volcano);

      & > div {
        @include textDarkStyles($volcano);
      }
    }
    &.yellow {
      @include shiftStyles($yellow);

      & > div {
        @include textDarkStyles($yellow);
      }
    }
    &.lime {
      @include shiftStyles($lime);

      & > div {
        @include textDarkStyles($lime);
      }
    }
    &.teal {
      @include shiftStyles($teal);

      & > div {
        @include textDarkStyles($teal);
      }
    }
    &.green {
      @include shiftStyles($green);

      & > div {
        @include textDarkStyles($green);
      }
    }
    &.blue {
      @include shiftStyles($blue);

      & > div {
        @include textDarkStyles($blue);
      }
    }
    &.purple {
      @include shiftStyles($purple);

      & > div {
        @include textDarkStyles($purple);
      }
    }

    &.magenta {
      @include shiftStyles($magenta);

      & > div {
        @include textDarkStyles($magenta);
      }
    }

    &.anotherSchedule {
      @include shiftStyles($gray);
      border: none;
    }

    &.current {
      outline: 2px solid var(--text-color);
    }
  }

  .shift.published {
    &.red {
      @include shiftStyles($red);

      & > div {
        @include textStyles($red);
      }
    }

    &.orange {
      @include shiftStyles($orange);

      & > div {
        @include textStyles($orange);
      }
    }
    &.volcano {
      @include shiftStyles($volcano);

      & > div {
        @include textStyles($volcano);
      }
    }
    &.yellow {
      @include shiftStyles($yellow);

      & > div {
        @include textStyles($yellow);
      }
    }
    &.lime {
      @include shiftStyles($lime);

      & > div {
        @include textStyles($lime);
      }
    }
    &.teal {
      @include shiftStyles($teal);

      & > div {
        @include textStyles($teal);
      }
    }
    &.green {
      @include shiftStyles($green);

      & > div {
        @include textStyles($green);
      }
    }
    &.blue {
      @include shiftStyles($blue);

      & > div {
        @include textStyles($blue);
      }
    }
    &.purple {
      @include shiftStyles($purple);

      & > div {
        @include textStyles($purple);
      }
    }

    &.magenta {
      @include shiftStyles($magenta);

      & > div {
        @include textStyles($magenta);
      }
    }

    &.anotherSchedule {
      @include shiftStyles($gray);
      border: none;
    }

    &.current {
      outline: 2px solid var(--text-color);
    }
  }
}

.schedule {
  &.row {
    display: grid;
    grid-template-columns: 14rem repeat(7, minmax(7rem, 1fr));
    align-items: center;
    justify-content: flex-start;
  }
}
