.columns {
  grid-template-columns: 1fr 1fr 4.25rem;
}

@media screen and (max-width: 768px) {
  .columns {
    grid-template-columns: 1fr 1fr 4.25rem;
  }
}

.addCostCentre {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
