.columns {
  grid-template-columns: 1fr 1fr repeat(2, 5rem);
}

@media screen and (max-width: 768px) {
  .columns {
    grid-template-columns: 1fr 1fr repeat(2, 3rem);
  }
}

.button {
  text-align: start;
  padding-left: 0.75rem;
}

.addCostCentre {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}
