.formActions {
  display: flex;
  height: 2rem;
  gap: 1rem;
}

.colorDisplay {
  width: 1.25rem !important;
  height: 1.25rem !important;
  border-radius: 50% !important;
}

.option {
  display: flex;
  gap: 1rem;
  padding: 0.1rem;
  align-items: center;
  overflow: hidden;
}
