.container {
  height: 1.9rem;
  display: flex;
  align-items: center;
  transition: justify-content 1s ease;
  margin: 0.5rem 0;
  position: relative;
  transition: 0.1s transform ease;
}

.container:hover {
  transform: translateY(-0.1rem);
}

.content {
  display: flex;
  height: min-content;
}

.menuItemText {
  margin-left: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  flex-shrink: 1;
  /* color: var(--color_gray_6); */
  color: inherit;
}

@media screen and (max-width: 1200px) {
  .menuItemText {
    display: none;
  }

  .container:hover .content {
    border: 1px solid var(--color_gray_2);
    padding: 0.25rem;
    position: absolute;
    border-radius: 0.3rem;
    left: -0.25rem;
    /* height: 120%; */
    width: 10rem;
    z-index: 10;
    align-items: center;
    background: #fff;
    box-shadow: var(--boxshadow-main);
  }

  .container:hover .menuItemText {
    display: flex;
  }
}

.icon {
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1rem;
  transition: transform 0.25s ease;
  flex-shrink: 0;
  z-index: 3;
}
