.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.userInfo:hover {
  cursor: pointer;
}

.usernameText {
  font-size: 1rem;
  font-weight: 500;
}

.profilePictureWrapper {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.25rem;
}

.chevron {
  font-size: 1rem;
  color: var(--color_gray_5);
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .usernameText {
    display: none;
  }
}
