.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.usernameText {
  font-size: 1.1rem;
  margin: 0;
  padding-top: 0.3rem;
}

.profilePictureWrapper {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.25rem;
}

.chevron {
  font-size: 1.3rem;
  display: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .usernameText {
    display: none;
  }
}
