.filterRow {
  display: grid;
  grid-template-columns: 10rem 10rem 2fr 1fr;
  gap: 1rem;
  border-top: var(--border-main);
  padding-top: 1rem;
}

.filterRow:first-child {
  border-top: 0;
}

.filterSection {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0rem;
}

.active {
  max-height: 8rem !important;
}

.filterActions {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.addIcon {
  color: #1890ff;
  font-size: 1.7rem;
}

.addIcon:hover {
  cursor: pointer;
  color: rgb(46, 121, 218);
}

.removeIcon {
  font-size: 1.3rem;
  color: var(--color-text-lightGray);
}

@media screen and (max-width: 768px) {
  .filterSection {
    display: none;
  }
}
