.columns {
  grid-template-columns: repeat(5, 1fr) 66.844px;
}

.centeredHeading {
  text-align: center;
}

.remove {
  justify-self: center;
  text-align: center;
}

@media (max-width: 768px) {
  .columns {
    grid-template-columns: repeat(3, 1fr) 66.844px;
  }

  .addOvertimeRule {
    margin: 1rem;
    margin-left: auto;
  }
}
