.container {
  padding: min(10vh, 1rem);
  position: relative;
  width: calc(100vw - 175px);
  left: 175px;
  transition: left 0.26s ease-out;
  max-height: calc(100vh - 4rem);
  overflow-x: scroll;
  min-height: 40rem;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    left: 50px;
    width: calc(100vw - 50px);
    padding: 0.5rem;
  }
}
