.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  z-index: 10;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  margin-top: 10rem;
  height: min-content;
  min-width: 20rem;
  max-width: 80%;
  /* background: #fff; */
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: growIn 0.3s ease-in-out;
}

@keyframes growIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Header Styles */
.header {
  height: 4rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0;
}

.title {
  margin-bottom: 0;
}

.close {
  font-size: 1.2rem;
}

.close:hover {
  cursor: pointer;
}

/* Main Content */
.content {
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
}
