.columns {
  grid-template-columns: repeat(5, 1fr) 5rem;
}

@media (max-width: 768px) {
  .columns {
    grid-template-columns: 1fr 5rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.addButton {
  margin: 2rem 1rem 0 auto;
}
