.field {
  height: 100%;
  width: 100%;
  border-radius: var(--inputBorderRadius);
  cursor: pointer;
}

.text {
  text-align: center;
}

.hours {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--inputBackground);
  border: var(--border-input);
  box-shadow: var(--boxshadow-input);
}
