@use "./genericList.scss";
@use "./animation.scss";
@use "./schedule.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

body {
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  // body,
  // input,
  // span,
  // td,
  // th {
  //   font-size: 1rem;
  // }
}

@media screen and (max-width: 768px) {
  input,
  select,
  p,
  span {
    font-size: 0.7rem !important;
  }

  h1 {
    font-size: 1.4rem !important;
  }

  h2 {
    font-size: 1.2rem !important;
  }
}
// @media screen and (max-width: 600px) {
//   input,
//   select {
//     font-size: 0.6rem !important;
//   }
// }
