/* .container {
  width: 40rem;
} */

.columns {
  grid-template-columns: 3rem 2fr repeat(2, minmax(10rem, 1fr));
  gap: 2rem !important;
}

.employeeList {
  height: 20rem;
  overflow-y: scroll;
}

.employeeList::-webkit-scrollbar {
  width: 0;
}

.employee {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.employeeProfileImage {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.checkbox {
  justify-self: center;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .columns {
    grid-template-columns: 3rem 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .columns {
    grid-template-columns: 3rem 1fr;
  }
  .employeeProfileImage {
    width: 2rem !important;
    height: 2rem !important;
  }
}
