.columns {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.button {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 10rem;
  justify-self: center;
  margin-left: auto;
}

.scheduleList {
  min-height: 15rem;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    width: 80vw;
  }
}
