.container {
  display: grid;
  gap: 1rem;
}

.addBulletinIcon {
  color: var(--color_gray_5);
  font-size: 1.4rem;
}

.addBulletinIcon:hover {
  cursor: pointer;
}

.viewMoreText {
  text-align: center;
  cursor: pointer;
}

.bulletinHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.bulletinTitle {
  margin: 0;
}
