.container {
  display: grid;
  gap: 1rem;
}

.addBulletinIcon {
  color: var(--color_gray_2);
  font-size: 1.4rem;
}

.addBulletinIcon:hover {
  cursor: pointer;
}

.viewMoreText {
  text-align: center;
}
