.row {
  display: grid;
  align-items: center;
  gap: 0.3rem;
  padding: 0.25rem 0;
  position: relative;
  height: 100%;
  width: 100%;
}

.timecard {
  grid-template-columns:
    6rem repeat(2, minmax(8rem, 2fr))
    repeat(3, minmax(5.5rem, 1fr)) minmax(4rem, 1fr) minmax(5rem, 1fr) 2.125rem;
}
.summary {
  grid-template-columns:
    6rem repeat(2, minmax(8rem, 2fr))
    minmax(11rem, 2fr) minmax(5.5rem, 1fr) minmax(4rem, 1fr) minmax(5rem, 1fr)
    2.125rem;
}

.header {
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .timecard {
    grid-template-columns:
      3.5rem repeat(2, minmax(8rem, 2fr))
      repeat(3, minmax(5.5rem, 1fr)) 3rem 2.125rem;
  }

  .summary {
    grid-template-columns:
      3.5rem repeat(2, minmax(8rem, 2fr))
      minmax(11rem, 2fr) minmax(5.5rem, 1fr) 3rem 2.125rem;
  }
}

@media screen and (max-width: 768px) {
  .timecard {
    grid-template-columns: 2.5rem 8rem repeat(3, 1fr) 2.5rem 2rem;
  }

  .summary {
    grid-template-columns: 2.5rem 8rem 2fr 1fr 2.5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .timecard {
    grid-template-columns: 2.5rem repeat(3, 1fr) 2.5rem 2rem;
  }

  .summary {
    grid-template-columns: 2.5rem 2fr 1fr 2.5rem 2rem;
  }
}
