.body {
  display: grid;
  grid-template-columns: 10rem 1fr;
}

@media screen and (max-width: 768px) {
  .body {
    grid-template-columns: 1fr;
  }
}

.sideNav {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.formActions {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.mobileMenuSelect {
  padding: 1rem;
  border-bottom: 1px solid var(--color_gray_1);
  flex-direction: column;
}
