.container {
  height: 100%;
  width: 100%;
  padding: 0rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.post {
  position: relative;
  height: 15rem;
  opacity: 1;
  margin: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid var(--color_gray_2);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.post::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.post {
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.662);
  padding: 0.25rem;
  border-radius: 0 0 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #000 !important;
}

.ribbon {
  position: absolute;
  transform: rotate(-45deg);
  right: -4rem;
  bottom: 1.5rem;
  height: 3rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 0px 18px 1px rgba(0, 0, 0, 0.33);
  color: #fff;
  z-index: 4;
}
